.item {
  position: absolute;
  animation-duration: 2.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
  z-index: 100;
  backface-visibility: hidden;
  font-size: 50px;
  white-space: nowrap;
  visibility: hidden;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  transform-style: preserve-3d; }

.animate {
  visibility: visible;
  animation-name: animate; }

@keyframes animate {
  0% {
    transform: rotateX(-90deg) translateZ(50px); }
  6% {
    transform: rotateX(10deg) translateZ(50px); }
  12% {
    transform: rotateX(-5deg) translateZ(50px); }
  18% {
    transform: rotateX(1.5deg) translateZ(50px); }
  24% {
    transform: rotateX(0deg) translateZ(50px); }
  82% {
    transform: rotateX(0deg) translateZ(50px); }
  88% {
    transform: rotateX(5deg) translateZ(50px); }
  94% {
    transform: rotateX(-10deg) translateZ(50px); }
  100% {
    transform: rotateX(90deg) translateZ(50px); } }
