/*html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*.header{



    color: white;
    height: 60px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    position: fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    text-align: center;
}
*/

/*.content {
    flex: 1;
    overflow: auto;
    background: pink;
}*/
