@page "/mgmt"
@model MyResume.Pages.Management_SkillsModel
@{
}

<link rel="stylesheet" type="text/css" href="css/mgmt.css" />
<div class="container1">

    <div class="card">
        <div class="face face1">
            <div class="content">
                <span class="stars"></span>
                <h2 class="java">Leadership</h2>
                <p class="java"; style="text-align:justify">Currently driving team size of 18 People and Heading three verticals, I shape my team in the term of motivation, skills enachment, and let them realize their potentials</p>
            </div>
        </div>
        <div class="face face2">
            <h3>Leadership</h3>

        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <span class="stars"></span>
                <h2 class="python">Project Mgmt.</h2>
                <p class="python" style="text-align:justify">End to End Project planning starting from Budgeting to Administrative Closer of Project which inludes verious milestones like Target Vs. Achivment, Risk Register, Resource Planning, Contigency Planning etc.</p>
            </div>
        </div>
        <div class="face face2">
            <h3>Project Management</h3>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <span class="stars"></span>
                <h2 class="cSharp">People Mgmt.</h2>
                <p class="cSharp">Excellent in people communication, this is my core strength, communicate my issues to customer in such a way that he take financial hit with open heart</p>
            </div>
        </div>
        <div class="face face2">
            <h3>People Management</h3>
        </div>
    </div>
</div>