@page "/Professional_Experience"
@model MyResume.Pages.ContactModel
@{
}
@*<h4>@ViewData["om"]</h4>*@

<link rel="stylesheet" type="text/css" href="css/Exp.css" />





<br />
<br />
<br />
<br />
<br />
<br />

<div class="accordion-div">

    <button class="accordion">
        <div>

            <span class="faq__question-heading"> Vidarbh Ifotech Pvt. Ltd., Mumbai, India</span>
            <span style="float:right; vertical-align:middle">    Since-Dec’20</span>
        </div>
        <div style="float:left; font-size:12px;">
            Designation: Technical Project Manager
        </div>

    </button>


    <div class="panel">
        <ol>

            <li> SCRUM Meet.</li>
            <li> Project review with customer. </li>
            <li> Customer Support review with inhouse team. </li>
            <li> Broadcast/Communicate productline changes accross the team. </li>
            <li> Upgrade/Enachment of IT Infrastructer over cloud.</li>
            <li> Communicate New Chagne Request to Development Team.</li>
            <li> Prepare Plan of Action according to the new requirment of customer.</li>
            <li> Project Invoicing.</li>
            <li> Prepare strategy for Financial Year Closer.</li>
            <li> Team mentoring/guidance/Improvement/Coaching.</li>
           
        </ol>
    </div>





    <button class="accordion">
        <div>

            <span class="faq__question-heading"> Sajhacode Infosolution Pvt. Ltd, Gurgaon, India</span>
            <span style="float:right; vertical-align:middle">    Oct’19-Dec’20</span>
        </div>
        <div style="float:left; font-size:12px;">
            Designation: Solution Manager
        </div>

    </button>


    <div class="panel">
        <ol>

            <li> Managing following accounts: Seabird, HTPL, Birkenstock Germany, VLOGIS, Accex.</li>
            <li> Conversion of Lead into Business-It’s complete journey of product starting from the demonstration to the client till made it operational.</li>
            <li> Solution Design-Prepare various Software Engineering Documents such as SOP, Process flow, User Authentications, and translate business requirement to the SW development team so that the same would be implemented into the application.</li>
            <li> Quality Improvement of Product-over the fixed period of time scan every corner of the application for its improvement and features, analyze for add-on services which can reduce customer TAT of the individual process. </li>
            <li>Tickets Management- Provide a solution to every individual customer with respect to tickets logged for product issues.</li>
            <li>Responsible for CR management for cloud related serviced.</li>
            <li>Troubleshoot and fix the bugs of the product that comes at L1 & L2 level.</li>
            <li> API Testing.</li>
            <li>Functional Testing of Mobile App</li>
            <li>Project tracking using JIRA tool</li>
            <li>Perform POC activity at customer premises.</li>
            <li>Marketing of company product over various digital platform i.e. LinkedIn, Facebook.</li>
            <li>Customer Invoicing</li>
        </ol>
    </div>

    <button class="accordion">
        <div>

            <span class="faq__question-heading">  ECI Telecom India Pvt. Ltd., Gurgaon, India</span>
            <span style="float:right; vertical-align:middle">     Mar’17-Oct’19</span>
        </div>
        <div style="float:left; font-size:12px;">
            Project Coordinator- PSU/Government accounts & SAARC countries
        </div>
    </button>



    <div class="panel">
        <ol>
            <li> Leading Project Executions of SDH & PDH equipment’s of PSU accounts.</li>
            <li> End-to-End Material tracking starting from manufacturing at Flextronics China until supplied in India.</li>
            <li> Multilevel coordination across the departments in ECI and outside the organization to ensure supply of material meets the deadline.</li>
            <li> Planning & engineering of network deployment plan such as Digital Connectivity Plan, Synchronization Plan, Ethernet Plan, and E1 Plan </li>
            <li> Mentor, guide & support the team during field activity such as integration of links, integration of data wherever necessary take the remote of system and complete the activity.</li>
            <li>Meeting with state utility officials regarding Project Progress/update/Issues.</li>
            <li>Reports Management: Prepare and flash Management Information System reports to apex management such as Daily Progress Reports of Project, Project Budget Reports, and Vendor Invoicing Reports..</li>
            <li>Meeting with Vendor to freeze Installation and commercial of new ECI product or of newProject.</li>
            <li>Ensure services purchase order conversion in revenue, to meet quarterly revenue target.</li>
            <li>Event Management & conduct training for ECI customer for our supplied ECI communication equipment SDH,PDH,DWDM</li>
            <li>Support other Project Managers across the ECI and make them familiar with functionality & protocols of state utilities, Powergrid Corporation, Gas Authority of India Limited.</li>
            <li>Performance evaluation of vendor and suppliers on yearly basis.</li>
            <li>CSupport Project Manager and Head of Projects in preparation of new RFP (Request for Proposal)/Government Tenders.</li>
            <li>Coordination with Pre-Sales and Sales team in finalization of BOQ (Bill of Quantity).</li>
            <li>Represent ECI in various state utilities meeting such as PGCIL, GAIL, UPPTCL, DTL, PSTCL, J&KPDD.</li>
        </ol>
    </div>



    <button class="accordion">
        <div>

            <span class="faq__question-heading"> DEN Network Limited, Delhi, India, India</span>
            <span style="float:right; vertical-align:middle">   Sep’15- Feb’17</span>
        </div>
        <div style="float:left; font-size:12px;">
            Designation: Assistant Manager-Project
        </div>
    </button>



    <div class="panel">
        <ol>
            <li>
                Lead Department of Project Management Office, which includes tracking of Program/Projects baseline, risk register, quality, audit, & prepare of P&L sheet.
            </li>
            <li>
                Design, formulate & finalization of Network Key Performance Indicator reports, latter this report becomes the part of Management Information Service reports which started to circulate to Apex Management.
            </li>
            <li>
                Automation of DCS report by using macro function of excel and batch file. This Automation reduces the resource effort by saving 90% of total manual time used to prepare the DCS reports.
            </li>
            <li>

                Identify the gaps and opportunity of legacy reports where automation can be implement in reports by using coding.
            </li>
            <li>
                Meetings & enquiry with Media Service Providers for feasibility of required bandwidth, leas-line, darkfibre.
            </li>
            <li>
                Leading outsourced software development team assigned for development of web based application for organization.
            </li>
            <li>
                Maintenance of Network Application Server.
            </li>
            <li>
                Authentication of CR for changes in network or implementation of new services in network.
            </li>
            <li>
                Assistance of office of Group Chief Technology Officer of his scheduled meeting, planned event, travel planetc.
            </li>
            <li>
                Financial planning of Technical Department, which include Fiscal Year Budget planning, Optimization of current year Opex, Provisioning of Budget for New Projects/activity etc.
            </li>
            <li>
                Business review for Group CTO office AOP vs. Achievements, Technical milestone, Opex (Operational Expenditure) saving opportunity.
            </li>
            <li>
                Raise request to CAS (Conditional Access System) team for additi
            </li>
        </ol>
    </div>

    <button class="accordion">
        <div>

            <span class="faq__question-heading"> Alcatel Lucent. Ahmedabad, India</span>
            <span style="float:right; vertical-align:middle">    Jun’13- Sep’15</span>
        </div>
        <div style="float:left; font-size:12px;">
            Designation: Project Management Executive
        </div>
    </button>



    <div class="panel">
        <ol>
            <li> Duty of Circle Project Management Executive was to align with Circle team and support Circle Head in terms of existing or new projects requirements.</li>
            <li> End to End planning of project execution of 800 sites of Uninor which includes, installation & commissioning of BTS/Transmission Equipment, materials from warehouse to sites, Node uploading over NMS server, alarm rectification etc..</li>
            <li> Set milestone & weekly target for vendor teams and guide them towards the goal.</li>
            <li> Prepare rollout dashboard and flash across all the circle department and Technical team ofcustomer. </li>
            <li> Delay analysis and process Extension of Time to Contractors & Vendors.</li>
            <li>Vendor management. (Vendor finalization, vendor query, PR & P.O issue, meeting).</li>
            <li>Work with Central IT team for allocation of laptop; update patches on Server, enforcement of user group policy.</li>
            <li>Coordinate with Central HR team for new joiner’s activity & resignation related cases.</li>
            <li>Handling the circle petty-cash account, which meets the circle sudden requirements such as requirement of hard disk, pen drive, printing paper.</li>


        </ol>

        <h4> Transferred to Uninor Network OperationCentre Gurgaon Feb’14- Sep’15 </h4>
        <ol>
            <li> Transmission alarm monitoring such as fibre cut, BTS down, Power outage </li>

            <li>
                Preparation and validation of outages reports.
            </li>
            <li>
                Maintenance of OSS Server & M200 Server.

            </li>
            <li>
                Validation of all NOC reports.
            </li>
        </ol>
    </div>

    <button class="accordion">
        <div>

            <span class="faq__question-heading"> MTS, Delhi, India</span>
            <span style="float:right; vertical-align:middle">  May’12- Sep’15</span>
        </div>
        <div style="float:left; font-size:12px;">
            Designation: Specialist.
        </div>
    </button>



    <div class="panel">
        <ol>

            <li> Managing following accounts: Seabird, HTPL, Birkenstock Germany, VLOGIS, Accex.</li>
            <li> Conversion of Lead into Business-It’s complete journey of product starting from the demonstration to the client till made it operational.</li>
            <li> Solution Design-Prepare various Software Engineering Documents such as SOP, Process flow, User Authentications, and translate business requirement to the SW development team so that the same would be implemented into the application.</li>
            <li> Quality Improvement of Product-over the fixed period of time scan every corner of the application for its improvement and features, analyze for add-on services which can reduce customer TAT of the individual process. </li>
            <li>Tickets Management- Provide a solution to every individual customer with respect to tickets logged for product issues.</li>
            <li>Responsible for CR management for cloud related serviced.</li>
            <li>Troubleshoot and fix the bugs of the product that comes at L1 & L2 level.</li>
            <li> API Testing.</li>
            <li>Functional Testing of Mobile App</li>
            <li>Project tracking using JIRA tool</li>
            <li>Perform POC activity at customer premises.</li>
            <li>Marketing of company product over various digital platform i.e. LinkedIn, Facebook.</li>
            <li>Customer Invoicing</li>
        </ol>
    </div>
</div>












<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {

            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                let active = document.querySelectorAll(".accordion-div .accordion.active");
                for (let j = 0; j < active.length; j++) {
                    active[j].classList.remove("active");
                    active[j].nextElementSibling.style.maxHeight = null;
                }
                this.classList.toggle("active");
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }



</script>




















































